.btn {
  background-color: #ffff;
  font-size: 18px;
  text-align: center;
  margin: auto;
  color: rgb(253, 247, 240);
  border-style: none;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(253, 247, 240);
  color: black;
  text-shadow: 4px 4px 4px rgb(183, 18, 18);
  border-style: none;
}
